[submodule "3rdparty/glm/glm"]
	path = 3rdparty/glm/glm
	url = https://github.com/g-truc/glm.git
[submodule "3rdparty/glfw/glfw"]
	path = 3rdparty/glfw/glfw
	url = https://github.com/glfw/glfw.git
[submodule "3rdparty/miniz/miniz"]
	path = 3rdparty/miniz/miniz
	url = https://github.com/richgel999/miniz.git
[submodule "3rdparty/easyloggingpp/easyloggingpp"]
	path = 3rdparty/easyloggingpp/easyloggingpp
	url = https://github.com/easylogging/easyloggingpp.git
[submodule "3rdparty/json/json"]
	path = 3rdparty/json/json
	url = https://github.com/nlohmann/json.git
